.row-page-title {
  font-size: 36px;
  padding: 15px 10px 15px 10px;
  background-color: #F4F3BB;
  border-radius: 1px 1px 1px 1px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.row {
  margin-left: 25px;
  margin-right: 25px;
}

.producttitle .productprice .pricetext {
  align-content: center;
}

.row-help {
  padding: 10px 10px 10px 10px;
  margin: auto;
  width: 60%;
}

.row-form {
  padding: 5px 10px 5px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}

.form-group {
  margin: auto;
}

.checkbox {
  margin: auto;
}

.otheritems {
  margin: auto;
}

.col-formlabels {
  width: max;
}
