.row-page-title {
  font-size: 36px;
  padding: 15px 10px 15px 10px;
  background-color: #F4F3BB;
  border-radius: 1px 1px 1px 1px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.row {
  margin-left: 25px;
}
